// Tipografia
$font-size-root: 62.5%;
$h1: 3.8rem;
$h2: 2.6rem;
$body: 1.8rem;
$body-sm: 1.6rem;
$small: 1.3rem;


// Cores
$support-light-1: #FFF;
$support-light-2: #969696;

$support-dark-1: #000;
$support-dark-2: #2b2b2b;


// Projeto
$padding-input: 1.8rem 2.5rem;
$padding-result: 3.5rem;
$borderRadius-global: 15px;

$zIndex-map: 10;
$zIndex-footer: 20;
$zIndex-result: 30;
$zIndex-error: 40;
$zIndex-input: 50;